.git
.gitignore
.idea
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/out/
README.md
HELP.md
.DS_Store
.env
.env.*
**/application.properties
**/application-*.properties
!src/test/resources/application-test.properties
*.pem
*.key
!config/*.properties
